.container{
    
    margin: auto;
    width: 80%;
}

.nav{
    background-color: rgba(244, 221, 44, 0.2)
    
}

.head1{
    display: flex;
    justify-content: space-between;
}

.head1 h1{
    margin-right: 400px;
}

.nav2{
    text-align: center;
}

.nav2 h1{
    font-size: 50px;
}

.nav2 button{
    color: white;
    background-color: coral;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;

    margin-bottom: 20px;
}

.nav2 button:hover{
    background-color: rgb(0, 59, 168);
    color: brown;
}

.nav2 img{
    padding: 20px;
}

/* main start */

.main{
    display: flex;
    margin-top: 100px;
    width: 70%;
    margin-bottom: 100px;
}

.box1{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 2;
    margin-right: 100px;
    gap: 20px;

}

.box2 button{
    color: white;
    background-color: coral;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.box2 button:hover{
    background-color: rgb(0, 59, 168);
    color: brown;
}


/* col1 start */

.Features{
    display: flex;
    width: 60%;
    position: relative;

}
.col1{
    margin-right: 30px;
}

 .card{
    /* width: 50%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-bottom: 20px;
}

.Features h1::before{
    content: '';
    position: absolute;
    height: 100px;
    border: 2px solid red;
    top: 10px;
    left: 0px;
}

.col2{
    margin-left: 70px;
    width: 30%;
}

.row{
    color: white;
background-color: rgb(249, 162, 33);
position: absolute;
bottom: -30px;
text-align: center;
right: 90px;
border-radius: 10px;

}

.row h2{
    font-size: 50px;
   padding-right: 30px;
   padding-left: 30px;
   line-height: 5px;
}

.row p{
    font-size: 30px;
    line-height: 7px;
}

.row-3{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.icon1{
    border: 1px solid red;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    line-height: 7px;
}

.icon2{
    border: 1px solid red;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    line-height: 7px;
}

.icon3{
    border: 1px solid red;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    line-height: 7px;
}

.icon4{
    border: 1px solid red;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    line-height: 7px;

}


.row-4{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-5{
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    gap: 60px;
    justify-content: center;
}


footer{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .nav{
        flex-direction: column;
    }
    .nav2{
        flex-direction: column;
    }

    .row{
flex-direction: column;
    }
    .Features{
        flex-direction: column;
    }


    .row-3{
        flex-direction: column;
    }

    .box1{
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 4;
    
    }
    .main{
        flex-direction: column;
    }

    .head1{
        flex-direction: column;
    }

    
}